{% extends 'userbase.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block background %} {% endblock %}
{% block body %}
<style>
	.w3layouts_gallery_grid1 img {
  width:  500px; /* set the width of the image */
  height: 250px; /* set the height of the image */
  object-fit: cover; /* ensure that the image fills the container without distortion */
}

</style>
<div class="team-bottom" id="work">
    <div class="container">
        <h3 class="w3l_head w3l_head1">Latest Games</h3>
        <p class="w3ls_head_para w3ls_head_para1"></p>
        <div class="w3layouts_gallery_grids">
            <ul class="w3l_gallery_grid" id="lightGallery">
                {% for i in a %}
                <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="images/ab.jpg"
                    data-responsive-src="images/ab.jpg">
                    <div class="w3layouts_gallery_grid1 box">
                        <a href="#">
                            <img src="{{i.image.url}}" alt=" " class="img-responsive" />
                            <div class="overbox">
                                <h4 class="title overtext">{{i.name}}<br>{{i.description}}</h4>

                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </li>
                
                        </a>
                    </div>
                </li>
                
                        </a>
                    </div>
            
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- //gallery -->
{% endblock %}